html {
    font-family: sans-serif;
    text-align: center;
}

a, a:hover, a:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(55, 20, 190)
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(135, 130, 230);
}

h2 {
    font-weight: 400;
    text-transform: uppercase;
}

app-links {
    width: 90%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


#logo {
    width: 50%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 35px auto;
}

@media screen and (orientation: portrait) {
    app-links {
        flex-direction: column;
    }

    app-links a {
        margin: 10px auto
    }
}

/* Properties to be shown when the app is running in the browser */
@media all and (display-mode: browser) {
    .installed-content {
        display: none;
    }

    .not-installed-content {
        display: block;
    }
}

/* Properties to be shown when the app is running in the standalone mode */
@media all and (display-mode: standalone) {
    .installed-content {
        display: block;
    }

    .not-installed-content {
        display: none;
    }
}