html {
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
}

a, a:hover, a:visited {
    color: rgb(5, 110, 190);
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-weight: lighter;
    text-transform: uppercase;
}

app-links {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
}


.logo {
    display: block;
    height: auto;
    margin: 35px auto;
    max-height: 200px;
    max-width: 200px;
    width: 50%;
}

@media screen and (orientation: portrait) {
    app-links {
        flex-direction: column;
    }

    app-links a {
        margin: 10px auto
    }
}