body {
    font-family: sans-serif;
    line-height: 165%;
    font-weight: 100;
    width: 100%;
    height: 100%;
    margin: 0;
}

a, a:visited, a:hover, a:active {
    color: rgb(10, 150, 255);
}

#load-indicator {
    display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('./src/assets/img/loading.gif')
        rgba(255,255,255,0.8) no-repeat center center;
    transition: 0.3s;
}