body {
    text-align: center;
    text-transform: uppercase;
    font-size: 14pt;
}

#logo{
    display: block;
    height: 190px;
    background: url(../../../assets/img/lira.png) no-repeat center center;
    background-size: 200px auto;
    margin: 0 auto;
    color: transparent;
    margin-top: 15%;
}

h3 {
    color: rgb(160,160,160);
    font-weight: 100;
}