html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    line-height: 165%;
    font-weight: 100;
}

a, a:visited, a:hover, a:active {
    color: rgb(5, 110, 190);
}

#logo{
    display: block;
    height: 190px;
    background: url(images/lira.png) no-repeat center center;
    background-size: 200px auto;
    margin: 30px auto;
    color: transparent;
}

.maintitle h2 {
    color: rgb(160,160,160);
    text-transform: uppercase;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 100;
}

h4 {
    font-weight: 400;
}

#sidebar a, #sidebar a:visited, .nolist a, .nolist a:visited, a h2, a h3,
.lv2-content a, .lv2-content a:visited {
    text-decoration: none;
}

pre {
    font-size: 110%;
    padding: 5px 10px 5px 25px;
    margin: 25px auto;
}


p {
    text-align: justify;
}

#sidebar-toggle {
    display: none;
}

#sidebar {
    display: block;
    position: fixed;
    background: rgb(40,40,40);
    width: 240px;
    min-height: 90%;
    height: calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    top: 30px;
    left: 20px;
    font-size: 11pt;
    font-weight: lighter;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#sidebar h3 {
    margin: 5px auto 0;
    font-weight: 500;
    color: white;
}
#sidebar a {
    display: block;
    padding: 5px 10px;
    color: rgb(200,200,200);
}
#sidebar a:hover {
    background: rgb(70,70,70);
    transition: 0.3s;
}

#sidebar .nolist {
    margin-top: 0;
    margin-bottom: 0;
}
#sidebar .nolist .nolist li {
    color: rgb(170,170,170);
}

#content {
    display: block;
    padding: 5px 25px;
    margin-left: 265px;
    overflow-x: hidden;
}

.maintitle h1 {
    font-size: 500%;
    margin-bottom: 70px;
}
.maintitle h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    line-height: 150%;
    color: rgb(170,170,170);
}



.grayfont {
    color: rgb(150,150,150);
}

.textcenter {
    text-align: center;
    display: block;
}

.comment {
    color: rgba(40,100,255,0.6);
}


.pregroup {
    background: rgb(245,245,245);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
    display: block;
    margin: 25px auto 60px;
    padding-top: 5px;
    overflow-x: auto;
    border-radius: 3px;
    text-align: left;
}
.pregroup pre {
    display: inline-block;
    min-width: 100%;
    padding: 5px 25px;
    line-height: 130%;
    height: 20px;
    margin: 0;
}

.pregroup.inlinepre {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}


.nolist {
    margin-top: -2px;
    margin-bottom: 20px;
    padding-left: 0;
}
.nolist .nolist {
    margin-top: 0;
    padding-left: 0;
    font-size: 10pt;
}
.nolist .nolist li {
    padding-left: 35px;
    line-height: 160%;
    color: rgb(80,80,80);
}

.nolist li {
    list-style: none;
    padding-left: 15px;
}

.lv2-content {
    margin-left: 30px;
}


.dirtree {
    background: rgb(252,252,252);
    margin: 30px auto;
    padding: 5px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 95%;
    max-width: 650px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}
.dirtree ul {
    display: inline-block;
    padding-left: 25px;
    font-weight: bolder;
    margin-bottom: 10px;
    list-style: none;
    border-left: 1px solid rgb(235,235,235);
}
.dirtree ul:first-child {
    border: none;
}
.dirtree ul li {
    margin-right: 10px;
}
.dirtree .comment {
    font-weight: normal;
}
.treefile {
    list-style: none;
    font-weight: normal;
}


.obs {
    background: rgba(140,190,255,0.1);
    padding: 10px 15px;
    border-radius: 5px;
    border-bottom: 3px solid rgba(80,120,240,0.1);
}
.obs a, .obs a:visited {
    font-weight: bolder;
}


@media (max-width: 700px) {
    #sidebar-toggle {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        border: 1px solid rgb(110,110,110);
        border-radius: 100%;
        z-index: 11;
        background: rgb(40,40,40) url(images/menu.svg) no-repeat center center;
        background-size: 25px 25px;
        user-select: none;
        -webkit-user-select: none;
    }
    #sidebar-toggle.close {
        background-image: url(images/close.svg);
    }

    #sidebar {
        z-index: 10;
        display: none;
        position: fixed;
        top: 5px;
        left: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }

    #content {
        margin: 0;
    }

    .pregroup.inlinepre {
        width: 95%;
        margin-left: auto;
    }
}